$line-border-color:#3498db;
$line-border-empty:hsl(0, 0%, 88%);

* {
    box-sizing: border-box;

};

body {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // overflow: hidden;
    // margin: 0;
};

.container {
    text-align: center;

}

.progress-container {
    display: flex;
    justify-content: space-between;
    width: 350px;
    // max-width: 100%;
    margin-bottom: 30px;
    position: relative;
    &::before {
        content: '';
        background-color: $line-border-empty;
        position: absolute;
        top: 50%;
        height: 2px;
        width: 100%;
        transition: 0.5s, ease;
        transform: translateY(-50%);
        z-index: -1;

    }
};

.progress {
    background-color: $line-border-color;
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100%;
    transition: 0.5s, ease;
    transform: translateY(-50%);
    z-index: -1; // let line behind the number;
}

.circle {
    background-color: #fff;
    color: #999;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid $line-border-empty;
    transition: 0.4s ease;
    &.active {
        border-color: $line-border-color;
    }
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: $line-border-color;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 30px;
    &:disabled {
        cursor: not-allowed;
        background-color: $line-border-empty;
    }
    &:active {
        transform: scale(0.95);
    }
}